h1{
    color: rgb(0, 17, 255)
}

/*
*{
    border: 2px solid green
}
*/

p,h2{
    text-align: center;
}

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

.site-description{
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
}

.aboutme_header{
    display: flex;
    justify-content: space-between;
}

#p1{
    font-weight: bold;
    color: blue;
}